<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teucontrole.teucontrole">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Actitivies.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Actitivies.MainActivity" />
        <activity android:name=".Actitivies.LoginActivity" />
        <activity android:name=".Actitivies.AdicionarReceitasActivity" />
        <activity android:name=".Actitivies.AdicionarDespesaActivity" />
        <activity android:name=".Actitivies.AdicionarFaturasActivity" />
        <activity android:name=".Actitivies.CartaoCreditoActivity" />
        <activity android:name=".Actitivies.ContaBancariaActivity"></activity>
    </application>

</manifest>